name: Release Elixir

on:
  push:
    branches: [release/*]

jobs:
  publish-hex:
    name: Publish to hex.pm
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Beam
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          otp-version: '27.1'
          elixir-version: '1.17'
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
      - name: Run Tests
        run: make
        working-directory: elixir
      - name: Publish to hex.pm
        uses: cucumber/action-publish-hex@ea3883bd0b3d07d9144cbd26274d7e2a0c619780 # v1.0.0
        with:
          hex-api-key: ${{ secrets.HEX_API_KEY }}
          working-directory: 'elixir'
