name: test-codegen

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - jsonschema/**
      - codegen/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - jsonschema/**
      - codegen/**
      - Makefile
      - .github/**
  workflow_call:
    
    

jobs:
  test-codegen:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: jsonschema/package-lock.json
          
      - name: validate the json schemas
        run: make validate
        working-directory: jsonschema

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: generate code for all languages
        run: |
          make clean
          make generate

      - name: check the repo is still clean after generation
        run: |
          git status --porcelain
          git diff HEAD
          [ -z "$(git status --porcelain)" ]
