name: test-perl

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - perl/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - perl/**
      - Makefile
      - .github/**
  workflow_call:

jobs:
  test-perl:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: install cpanm and multiple modules
        uses: perl-actions/install-with-cpanm@v1
        with:
          cpanfile: "perl/cpanfile"

      - name: run tests
        run: |
          prove -l
          AUTHOR_TESTS=1 prove -l
        working-directory: perl
