name: test-codegen

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - jsonschema/**
      - codegen/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - jsonschema/**
      - codegen/**
      - Makefile
      - .github/**
  workflow_call:
    
    

jobs:
  test-codegen:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: jsonschema/package-lock.json

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0.1'

      - name: generate code for all languages
        run: |
          make clean
          make generate

      - name: check the repo is still clean after generation
        run: |
          git status --porcelain
          git diff HEAD
          [ -z "$(git status --porcelain)" ]
