name: test-dotnet

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - dotnet/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - dotnet/**
      - Makefile
      - .github/**
  workflow_call:

jobs:
  test-dotnet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: '8.0.x'

      - name: run tests
        run: |
         dotnet test
        working-directory: dotnet
