name: test-cpp

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - cpp/**
      - Makefile 
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - cpp/**
      - Makefile
      - .github/**
  workflow_call:

jobs:
  test-cpp:
    strategy:
      matrix:
        config:
          - os: ubuntu-latest
            cc: gcc
          - os: ubuntu-latest
            cc: clang
          - os: macos-latest
            cc: clang
          - os: windows-latest
            cc: cl
    runs-on: ${{ matrix.config.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1
      - name: install dependencies
        working-directory: cpp
        run: |
          cmake -P cmake/cmate --cc=${{ matrix.config.cc }} install

      - name: configure and build
        working-directory: cpp
        run: |
          cmake -P cmake/cmate --cc=${{ matrix.config.cc }} build --release
