---
name: test-python

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - .pre-commit-config.yaml
      - python/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - python/**
      - Makefile
      - .github/**
  workflow_call:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - { os: 'windows-latest', python-version: '3.13', toxenv: 'py' }
          - { os: 'macos-latest', python-version: '3.13', toxenv: 'py' }
          # Running linting through latest Python
          - { os: 'ubuntu-latest', python-version: '3.13', toxenv: 'lint,py' }
        os: ['ubuntu-latest']
        python-version: ['3.9', '3.10', '3.11', '3.12', 'pypy3.10', 'pypy3.11']
        toxenv: ['py']
    defaults:
      run:
        working-directory: python
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          version: "0.9.29"

      - name: Linting and testing
        run: |
          uv tool install tox --with tox-uv
          tox -e ${{ matrix.toxenv }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: python/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Build package
        run: uv build
