name: Test Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:

jobs:

  test-go:
    name: Go ${{ matrix.golang }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang: ['1.13', '1.18']

    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2

      - name: Test
        uses: docker/bake-action@v2
        with:
          targets: go-test
          set: |
            *.contexts.schema-codegen=
            go-test.args.GO_VERSION=${{ matrix.golang }}
            go-test.cache-to=type=gha,scope=go-test-${{ matrix.golang }},mode=max
            go-test.cache-from=type=gha,scope=go-test-${{ matrix.golang }}

  test-go-mac-windows:
    name: Go ${{ matrix.golang }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            golang: '1.18'
          - os: macos-latest
            golang: '1.18'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: lint
        working-directory: go
        run: gofmt -w .

      - name: test
        working-directory: go
        run: go test --v ./...
