name: test-php

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - php/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - php/**
      - Makefile
      - .github/**
  workflow_call:

jobs:
  test-php:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.1']
        composer-mode: ['low-deps', 'high-deps']

    steps:
      - uses: actions/checkout@v5

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"

      - name: Discover composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-dir)" >> $GITHUB_OUTPUT
        working-directory: php

      - name: Cache composer
        uses: actions/cache@v4
        with:
          path: "${{ steps.composer-cache.outputs.dir }}"
          key: composer

      - name: Install dependencies
        working-directory: php
        run: |
          if [[ "${{ matrix.composer-mode }}" = "low-deps" ]]; then
            composer update --prefer-lowest
          else
            composer update
          fi

      - name: Run tests
        working-directory: php
        run: |
          vendor/bin/php-cs-fixer --dry-run --diff fix
          vendor/bin/psalm --no-cache
          vendor/bin/phpunit
