name: test-ruby

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - ruby/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - ruby/**
      - Makefile
      - .github/**
  workflow_call:

jobs:
  test-ruby:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ruby: ['3.2', '3.3', '3.4', '3.5']
        include:
          - os: macos-latest
            ruby: '3.4'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          working-directory: ruby
      - run: bundle exec rake
        working-directory: ruby
