name: test-cpp

on:
  push:
    branches:
      - main
      - cpp*
      - renovate/**
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  test-cpp:
    strategy:
      matrix:
        config:
          - os: ubuntu-20.04
            cc: gcc
          - os: ubuntu-20.04
            cc: clang
          - os: ubuntu-22.04
            cc: gcc
          - os: ubuntu-22.04
            cc: clang
          - windows-2019
            cc: cl
          - windows-2022
            cc: cl
    runs-on: ${{ matrix.config.os }}
    steps:
      - uses: actions/checkout@v4
      - name: install dependencies
        working-directory: cpp
        run: |
          cmake -P cmake/cmate --cc=${{ matrix.config.cc }} install

      - name: configure and build
        working-directory: cpp
        run: |
          cmake -P cmake/cmate --cc=${{ matrix.config.cc }} build --release
