name: test-go

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - go/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - go/**
      - Makefile
      - .github/**
  workflow_call:

jobs:
  test-go:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        go: ['1.20.x', '1.21.x']
        include:
          - os: windows-latest
            go: '1.21.x'
          - os: macos-latest
            go: '1.21.x'

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
      with:
        go-version: ${{ matrix.go }}
        cache-dependency-path: go/go.sum

    - name: lint
      working-directory: go
      run: gofmt -w .

    - name: test
      working-directory: go
      run: go test --v ./...
