name: Test Javascript

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:

jobs:

  test-javascript:
    name: Javascript ${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['12', '14', '16', '17', '18']

    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2

      - name: Test
        uses: docker/bake-action@v2
        with:
          targets: javascript-test
          set: |
            *.contexts.schema-codegen=
            javascript-test.args.NODE_VERSION=${{ matrix.node }}
            javascript-test.cache-to=type=gha,scope=javascript-test-${{ matrix.node }},mode=max
            javascript-test.cache-from=type=gha,scope=javascript-test-${{ matrix.node }}

  test-javascript-mac-windows:
    name: Javascript 18 ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            node-version: "18.x"
          - os: macos-latest
            node-version: "18.x"

    steps:
      - name: set git core.autocrlf to 'input'
        run: git config --global core.autocrlf input

      - uses: actions/checkout@v3

      - name: with Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: javascript/package-lock.json

      - run: npm install-ci-test
        working-directory: javascript
