name: test-elixir

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - elixir/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - elixir/**
      - Makefile
      - .github/**
  workflow_call:

jobs:
  test-elixir:
    name: Test Elixir
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup Beam
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1
        with:
          otp-version: '27.1'
          elixir-version: '1.17'

      - name: Install Protoc
        uses: arduino/setup-protoc@v1

      - name: Run Tests
        run: make
        working-directory: elixir

