---
name: test-python

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - .pre-commit-config.yaml
      - python/**
      - Makefile
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - python/**
      - Makefile
      - .github/**
  workflow_call:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - { os: 'windows-latest', python-version: '3.13', toxenv: 'py' }
          - { os: 'macos-latest', python-version: '3.13', toxenv: 'py' }
          # Running linting through latest Python
          - { os: 'ubuntu-latest', python-version: '3.13', toxenv: 'lint,py' }
        os: ['ubuntu-latest']
        python-version: ['3.9', '3.10', '3.11', '3.12', 'pypy3.10', 'pypy3.11']
        toxenv: ['py']
    defaults:
      run:
        working-directory: python
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          version: "0.9.27"

      - name: Linting and testing
        run: |
          uv tool install tox --with tox-uv
          tox -e ${{ matrix.toxenv }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          files: python/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Build package
        run: uv build
